<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025. Pihdastudios
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pihdastudios.blockednumbersbackup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

        <!-- Mark this app as a default phone app candidate -->
        <meta-data
            android:name="android.telecom.default_phone_app"
            android:value="true" />

        <!-- Your main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN">
                </action>
                <category
                    android:name="android.intent.category.LAUNCHER">
                </category>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW">
                </action>
                <action
                    android:name="android.intent.action.DIAL">
                </action>
                <category
                    android:name="android.intent.category.DEFAULT">
                </category>
                <category
                    android:name="android.intent.category.BROWSABLE">
                </category>
                <data
                    android:scheme="tel">
                </data>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.DIAL">
                </action>
                <category
                    android:name="android.intent.category.DEFAULT">
                </category>
            </intent-filter>
        </activity>

        <service
            android:name=".InCallService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_CAR_MODE_UI"
                android:value="false" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

    </application>
</manifest>
